/* Basic styling for the leaderboard */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(./resources/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#leaderboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 2%;
  border-radius: 1%;
  box-shadow: 0 0 1em rgba(21, 8, 196, 0.2);
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  color: #fff;
  font-weight: 400;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 5%;
}

#recent-score-list {
  list-style: none;
  padding: 0;
  border: 2px solid rgba(221, 18, 228, 0.5);
  border-radius: 5px;
  margin-top: 1em;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin-bottom: 1em;
  color: #fff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* Styling for the form */
#add-score-section {
  text-align: center;
  margin-top: 2%;
}

#score-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="number"],
button {
  margin: 1%;
  padding: 2%;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: auto;
}

.refresh-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: auto;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for screens up to 768px wide */
  #leaderboard {
    max-width: 90%;
    padding: 5%;
  }

  .column {
    flex: 1;
    padding: 5%;
  }

  .row {
    display: block;
  }
}

@media (max-width: 480px) {
  /* Adjust styles for screens up to 480px wide */
  input[type="text"],
  input[type="number"],
  button {
    width: 100%;
  }
}
